body {
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top -65px center;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 16px;
	line-height: 22px;
}

h1 {
	line-height: 35px;
}

.sticker_box {
	width:250px;
	height:125px;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top:0px;
	right:0px;
}

.sticker {
	box-sizing: border-box;
	border: solid 1px #000;
	padding: 5px;
	transform: rotate(25deg); /* Equal to rotateZ(45deg) */
  background-color: #ffcc36;
	text-align: center;
	width:300px;
	margin-top:30px;
}


.nav_bar{
	background: #004776;
	padding: 10px 15px 10px 15px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	color:white;
}

a.nav_link {
	color:white;
	text-decoration: none;
}

a.nav_link:hover {
	text-decoration: underline;
}

.top_bar{
	text-align: left;
	font-size: 22px;
	line-height: 23px;
	padding:15px 0 0 10px;
	margin:0;
	box-sizing: border-box;
}


.content {
	margin:35px auto 0 auto;
	padding:0;
	max-width:950px;
}

.soon_div {
	box-sizing: border-box;
	float:left;
	width:100%;
	background:#fcf8cc;
	padding:0 20px 30px 20px;
	border: 1px solid #bbb;
}


.scc {
	float:left;
	box-sizing: border-box;
  width:100%;
	padding: 10px;
	margin: 0 0 20px 0;
  display: block;
  border: 1px solid #bbb;
	border-radius:10px;
  font-family: Sans-serif;
}
.scc audio {
  width: 100%; display: block;
	background:white;
}
.scc div {
  display: flex;
  padding: .5em 0;
  gap: 5px;
}
.scc label { flex: 1; }
.scc input[type="range"] { flex: 5; }
.scc span {
  flex: 1;
  text-align: center;
}


.chimera_img {
	float:left;
	padding:0;
	margin: 35px 55px 18px 0px;
	max-width:450px;
	box-sizing: border-box;
}


.caption {
	padding:15px 5px 8px 5px;
	text-color:#555;
	text-align:center;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 15px;
	color:#555;
	box-sizing: border-box;
	width:100%;
}


.captionlnk {
	color:#555;
}


.title {
	margin-top:65px;
	font-size: 38px;
	line-height: 40px;
	width:100%;
	text-align: left;
}

.title_chapter {
	float:left;
	font-size: 38px;
	line-height: 40px;
	width:100%;
	text-align: center;
}

a.anchor {
		display:block;
		float:right;
		width:22px;
		height:16px;
		margin-bottom: 10px;
		background-image: url("../images/link.png");
		background-repeat: no-repeat;
		background-position: center;
}

.mailing {
  float:left;
  background: #004776;
  width: 220px;
  height: 60px;
  line-height: 60px;
  text-align:center;
  color:white;
  font-weight:600;
  border-radius:10px;
  margin:0px 0px 0 0px;
  box-sizing: border-box;
}

.listing {
	padding: 0px 15px 15px 15px;
	box-sizing: border-box;
	width:100%;
}


.profile_pic {
	float:left;
	margin:20px 25px 15px 0;
	width:200px;
	height:200px;
	z-index:2;
	border-radius: 50%;
	background-color: #ddd;
	border: 4px solid #555;
	box-sizing: border-box;
}

.profile_img {
	box-sizing: border-box;
	float:left;
	margin:20px 25px 25px 0;
	text-align:center;
	max-width:400px;
}


.profile_vid {
	box-sizing: border-box;
	float:left;
	margin:20px 25px 25px 0;
	width:400px;
	height:200px;
}

.profile_vid_right {
	box-sizing: border-box;
	float:right;
	margin:20px 0 25px 25px;
	width:400px;
	height:200px;
}

.vid_wrapper {
	box-sizing: border-box;
	float:left;
	padding-bottom:25px;
	width:100%;
}

.vid_wrapper_right {
	box-sizing: border-box;
	float:right;
	padding-bottom:25px;
}

.profile_wrapper {
	float:left;
}

.embed_vid {
	width:400px;
	height:225px;
}

.r_img_embed {
	float:right;
	margin: 0 0 18px 18px;
	box-sizing: border-box;
}

.profile_title {
	font-size:22px;
	line-height: 25px;
}

.profile_title {
	font-size:22px;
	line-height: 25px;
}

.button_row {
	float:left;
	padding:30px 0px 40px 0px;
	width:100%;
	box-sizing: border-box;
}

.button {
  float:left;
  background: #004776;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align:center;
  color:white;
  font-weight:600;
  border-radius:10px;
  margin:0px 0px 0 0px;
  box-sizing: border-box;
}

.footer {
	margin:30px 0;
	text-align:right;
	text-color:#555;
	float:left;
	width:100%;
	border-top: solid 1px #555;
	padding:15px 10px 40px 10px;
	font-size: 14px;
	line-height: 18px;
	color:#555;
	box-sizing: border-box;
}


@media only screen and (max-width: 980px) {
	.top_bar{
		font-size: 22px;
		line-height: 23px;
		padding:14px 0 0 9px;
	}
	.content {
		padding:0 15px;
	}
	.chimera_img {
		max-width:400px;
		margin: 35px 40px 18px 10px;
	}
	.title {
		margin-top:55px;
		font-size: 36px;
		line-height: 38px;
	}
}


@media only screen and (max-width: 900px) {
	.top_bar{
		font-size: 20px;
		line-height: 21px;
		padding:13px 0 0 8px;
	}
	.chimera_img {
		max-width:350px;
		margin: 35px 35px 18px 13px;
	}
	.title {
		margin-top:50px;
		font-size: 34px;
		line-height: 36px;
	}
}

@media only screen and (max-width: 850px) {
	.top_bar{
		font-size: 18px;
		line-height: 19px;
		padding:12px 0 0 7px;
	}
	.chimera_img {
		max-width:300px;
		margin: 35px 35px 18px 13px;
	}
	.title {
		margin-top:45px;
		font-size: 32px;
		line-height: 34px;
	}
}

@media only screen and (max-width: 800px) {
	.top_bar{
		font-size: 16px;
		line-height: 17px;
		padding:11px 0 0 6px;
	}
	.chimera_img {
		max-width:275px;
		margin: 35px 35px 18px 10px;
	}
	.title {
		margin-top:40px;
		font-size: 30px;
		line-height: 32px;
	}
}


@media only screen and (max-width: 700px) {
	.top_bar{
		text-align: center;
		padding:11px 0 0 0;
	}

	.sticker_box {
		width:100%;
		height:auto;
		margin:0;
		position:relative;
		z-index: 0;
		top:auto;
		right:auto;
	}

	.sticker {
		box-sizing: border-box;
		border: solid 0px #000;
		border-bottom: solid 1px #000;
		padding: 5px;
		transform: rotate(0deg); /* Equal to rotateZ(45deg) */
		width:100%;
		margin:0;
	}
	.chimera_img {
		float:none;
		position:relative;
		margin:25px auto;
		max-width:275px;
	}
	.title {
		text-align: center;
		margin-top: 0;
	}

}

@media only screen and (max-width: 680px) {
	.vid_wrapper, .vid_wrapper_right {
		position:relative;
		width:100%;
	}
	.profile_vid, .profile_vid_right {
		float:none;
		position:relative;
		margin:15px auto;
		width:400px;
	}
	.embed_vid {
		float:none;
		width:100%;
	}
	.profile_img {
		float:none;
		margin:15px auto;
		width:400px;
	}

}

@media only screen and (max-width: 480px) {

	.listing {
		padding-left: 0px;
		padding-right: 0px;
	}

	.profile_wrapper {
		position:relative;
		width:100%;
	}
	.profile_pic {
		float:none;
		position:relative;
		margin:15px auto;
		width:200px;
	}

	.profile_vid, .profile_vid_right {
		float:none;
		width:100%;
	}

	.profile_img {
		float:none;
		width:100%;
	}

}

@media only screen and (max-width: 460px) {

	.mailing {
		width:100%;
	}

	.button {
		width:100%;
		margin:0px 0 10px 0;
	}
}
